<a href="https://colab.research.google.com/github/VU21CSEN0100037/LEKKALA-HARSHITHA/blob/main/python_0037.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## average of three numbers

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## MULTIPLICTION OF THREE NUMBERS

In [ ]:
A=30
B=20
D=10
C=A*B*D
print(C)
print(type(C))

6000
<class 'int'>

## DYNAMIC ADDITION

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
add=(a+b)
print(add)
print(type)

enter a number10
enter a number20
30
<class 'type'>

## DYNAMIC MULTIPLICATION

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a*b
print(c)
print(type)

enter a number10
enter a number20
200
<class 'type'>

## conversion 
## convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
10.0

### convert float to int

In [ ]:
a=10.20
b=int(b)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
10

## convert float into string

In [ ]:
a=10.1
b=str(b)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'str'>
10.0

## convert string to int (only numbera are possible, letters are not possible)

In [ ]:
a="1"
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'str'>
<class 'int'>
1

## convert int to string

In [ ]:
a=1
b=str(a)
print(type(a))
print(type(b))
print(b)

<class 'int'>
<class 'str'>
1

## BOOLEAN

In [ ]:
a=1
b=0
print(bool(a))
print(bool(b))

True
False

## BOOLEAN INTO INT

In [ ]:
a=bool(1)
print(type(a))
print(bool(a))
b=int(1)
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'int'>
True

## BOOLEAN INTO FLOAT

In [ ]:
a=bool(1)
print(type(a))
print(bool(a))
b=float(0)
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'float'>
False

## BOLLEAN INTO STRING

In [ ]:
a=bool(1)
print(type(a))
print(bool(a))
b=str("1")
print(type(b))
print(bool(b))

<class 'bool'>
True
<class 'str'>
True